<header [class.darkmode]="themeService.darkmode()"> 
    <div id="header-start-cont">
        <img src="icon.png" alt="logo" id="logo">
    </div>
    <div id="header-center-cont">
        <div id="header-centered" (click)="this.navigationService.goto('')">
            <h1 id="title">Vocabularytrainer</h1>
        </div>
        
    </div>
    <div id="header-end-cont">
        <div id="header-end">
            <button id="menu-button" (click)="menuService.toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>