.input{
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    color: black;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}
#cont.darkmode .input{
    color: white;
}
#label{
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}
#cont.darkmode #label{
    color: #ffffffb2;
}
.input:hover, .input:focus, #cont:hover .input{
    outline: none;
    border-color: #05060f;
}
#cont.darkmode .input:hover, #cont.darkmode .input:focus, #cont.darkmode:hover .input{
    border-color: #ffffff;
}
#cont:hover #label, .input:focus{
    color: #05060fc2;
}
#cont.darkmode:hover #label, #cont.darkmode .input:focus{
    color: #ffffffd4;
}
#cont {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

/*
Input Design from:
https://uiverse.io/alexruix/jolly-emu-80
*/



#error {
    padding-left: 5px;
    font-size: 14px;
    color: rgb(255, 40, 40);
}